<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>Flog Change</title>
    
  </head>
  <body>
    <div id="sample_score"><%= @sample.score %></div>
  </body>
</html>
