<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Flog Change</title>
  
</head>
<body>
  <div id="last_sample">
    <div class="score"><%= @last_sample.score %></div>
    <div class="method_average"><%= @last_sample.method_average %></div>
  </div>

  <div id="this_sample">
    <div class="score"><%= @this_sample.score %></div>
    <div class="method_average"><%= @this_sample.method_average %></div>
  </div>
</body>
</html>
